/* style.css */
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

form {
    background: #fff;
    padding: 20px;
    margin: 0 auto 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* --------- Loader Wrapper ---------- */
.loader-container {
  position: fixed;
  inset: 0;
  background: rgba(15, 15, 25, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: Arial, sans-serif;
}

/* --------- Loader Card ---------- */
.loader {
  width: 320px;
  background: #1b1b2b;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.5);
}

.loader-text {
  letter-spacing: 2px;
  font-size: 0.85rem;
  margin-bottom: 10px;
  color: #C8B6FF;
}

/* --------- Progress Bar ---------- */
.progress-bar {
  background: #2b2b3b;
  height: 16px;
  border-radius: 12px;
  overflow: hidden;
}

.load {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #9A79FF, #C8B6FF);
  transition: width 0.4s ease;
}


#loading-text {
    font-size: 16px;
    margin-top: 10px;
    color: #2c3e50;
    font-weight: bold;
}

/* ---------------- INPUTS ---------------- */

.input-container {
  position: relative;
}

.input-container input {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;

  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;

  font-size: 0.9rem;
  width: 80%;

  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.input-container input:focus {
  border-color: #4F46E5;
  box-shadow: 0 0 0 2px rgba(79,70,229,.15);
}


/* ---------------- SUBMIT BUTTON ---------------- */

.submit {
  margin-top: 12px;

  display: block;
  padding: .75rem 1.25rem;

  background: linear-gradient(135deg, #4F46E5, #6d65ff);

  color: #fff;
  font-size: .9rem;
  font-weight: 600;

  letter-spacing: .04em;
  text-transform: uppercase;

  border-radius: .6rem;
  border: none;

  width: 100%;
  cursor: pointer;
}

.submit:hover {
  background: linear-gradient(135deg, #4338ca, #6155ff);
}
